@media (min-width: 768px) {
    .card-size-l{
        margin-left: 1rem !important;
}
    .card-size-m{
        margin-left: 0.5rem !important;
        margin-right: 0.5rem !important;
    }
    .card-size-r{
        margin-right: 1rem !important;
    }
  }
