.profile-img {
  border-radius: 50%;
  height: 80%;
  width: 80%;
  display: block;
  margin: auto !important;
  margin-top: 2rem !important;
}
.logo-dev-img {
    height: 80px;
    width: 80px;
}

.me-img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  display: block;
  margin: auto !important;
  margin-top: 2rem !important;
}

.logo-img {
    width: 80%;
    display: block;
    margin: auto !important;
    margin-top: 2rem !important;
}

.img-size-projekte {
    width: 100px;
    height: 100px;
}