.border-bg-w {
  background-color: #ffffff;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}
.border-bg-g {
    background-color: #343a40;
    border: 1px solid rgba(0,0,0,.125);
  }

  .border-bg-g-w {
    background-color: #ffffff;
    border: 1px solid rgba(0,0,0,.125);
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
  }

.navbar-light {
    background-color: #ffffff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.navbar-brand {
    color: #ff5600 !important;
}

.mb-head {
    margin-bottom: 60px;
}

.orange-color {
    color: #ff5600;
}

.t-col-2 {
    columns: 2;
}
  
.t-col-3 {
    columns: 3;
}

.margin-projects {
    margin-top: 4rem;
}