.profile-img {
  border-radius: 50%;
  height: 80%;
  width: 80%;
  display: block;
  margin: 0 auto;
}
.logo-dev-img {
    height: 80px;
    width: 80px;
}
.logo-img {
    height: 60%;
    width: 60%;
    display: block;
    margin: 0 auto;
}
